.instruction {
  height: 35px;
}

.instruction p {
  font-weight: bold;
  font-size: 23px;
}

.selection {
  display: flex;
  padding: 10px;
}

.selection button {
  margin: auto;
  border: none;
  background-color: rgb(33, 62, 228);
  color: white;
  padding: 10px 60px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
