.links {
  position: absolute;
  left: 3%;
  color: blue;
}

.links:hover {
  color: purple;
}

.preview-region {
  display: flex;
  justify-content: center;
}

.screenshot {
  position: relative;
}

.screenshot img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.screenshot pre {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parameter-region {
  padding-top: 25px;
  padding-left: 5%;
  position: relative;
  display: flex;
  justify-content: left;
}

.image-size-region {
  text-align: left;
}

.image-size-region p {
  font-size: 20px;
  color: teal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-region {
  text-align: left;
  padding-left: 3%;
}

.text-region p {
  font-size: 20px;
  color: teal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-parameters {
  text-align: left;
  padding-left: 3%;
}

.text-parameters p {
  font-size: 20px;
  color: teal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: pre;
}

.parameter-region2 {
  padding-top: 5px;
  padding-left: 5%;
  position: relative;
  display: flex;
  justify-content: left;
}

.font-style-region {
  text-align: left;
}

.font-style-region p {
  font-size: 20px;
  color: teal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdown-menu {
}

.two-buttons {
  padding-top: 3%;
}

.two-buttons button {
  margin: auto;
  border: none;
  color: white;
  padding: 10px 60px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: green;
}

.two-buttons button:hover {
  transform: scale(1.05);
}
